:root{
    --azul1:rgb(88, 100, 189);
    --azul2:rgb(71, 81, 153);
    --azul3:rgb(130, 142, 237);
    --amarillo1:rgb(248, 222, 126);
}

body{
    margin: 0;
    overflow: hidden;
    background-size: cover;
    background-image: url(../img/loginBG.jpg);
}

/*Webkit*/
::-webkit-scrollbar {
    width: 0.8vw;
}
::-webkit-scrollbar-track-piece {
    border-radius: 0.5vw;
    background-color: var(--azul1);
    background-clip: content-box;
    border: solid 0.5vh transparent;
}
::-webkit-scrollbar-track-piece:decrement {
    background: var(--amarillo1);
    background-clip: content-box;
    border: solid 0.5vh transparent;
}
::-webkit-scrollbar-thumb  {
    background-image: linear-gradient(var(--amarillo1), var(--azul1));
    border-radius: 0.9vh;
    box-shadow: 0 0 1.5vh 0.1vh rgba(51,0,51,0.5);
}

/* ---------------------------------------| Centro |--------------------------------------*/

.logoBG{
    top: 20%;
    left: 50%;
    width: 15vh;
    height: 15vh;
    padding: 2vh;
    position: absolute;
    border-radius: 45%;
    background-color: aliceblue;
    transform: translate(-50%, -50%);
}

.loginLogo{
    width: 15vh;
    border-radius: 30%;
    position: relative;
}

.container{
    width: 35%;
    height: 55%; 
    display: grid;
    overflow: hidden;
    margin: 35vh auto;
    position: relative;
    border-radius: 1.5vh;
    grid-template-rows: 1fr 10.5fr;
    border-left: 0.4vh solid rgb(68, 68, 68);
    border-bottom: 0.4vh solid rgb(68, 68, 68);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/img/caret-up-solid.svg);
    
}

.changeBtn{
    z-index: 2;
    display: grid;
    max-height: 4.65vh;
    grid-template-columns: 3fr 1fr 4fr;
}
.changeBtn .selected{
    font-size: 2vh;
    cursor: pointer;
    padding: 1vh 1vw;
    text-align: center;
    font-weight: bolder;
    font-family: monospace;
    background-color: aliceblue;
    border-top: 0.4vh solid rgb(68, 68, 68);
    border-right: 0.4vh solid rgb(68, 68, 68);
    border-bottom: 0.4vh solid aliceblue;
}
.changeBtn #btn1{
    border-top-left-radius: 1.5vh;
}
.changeBtn #btn2{
    border-top-right-radius: 1.5vh;
}
.changeBtn .notSelected{
    font-size: 2vh;
    cursor: pointer;
    padding: 1vh 1vw;
    max-height: 2.3vh;
    text-align: center;
    font-weight: bolder;
    font-family: monospace;
    background-color: rgb(201, 207, 212);
    border-top: 0.4vh solid rgb(68, 68, 68);
    border-right: 0.4vh solid rgb(68, 68, 68);
    border-bottom: 0.4vh solid rgb(68, 68, 68);
}

.changeBtn .fill{
    max-height: 4.65vh;
    border-bottom: 0.4vh solid rgb(68, 68, 68);
}

.cardHidden{
    display: none;
}
.loginCard{
    display: flex;
    position: relative;
    overflow-x: hidden;
    flex-direction: column;
    background-color: azure;
    border-bottom-right-radius: 1.5vh;
    border-right: 0.4vh solid rgb(68, 68, 68);
}
.loginCard h2{
    font-size: 2.5vh;
    text-align: center;
    margin-bottom: 10vh;
}

.signupCard{
    display: flex;
    overflow: scroll;
    position: relative;
    overflow-x: hidden;
    flex-direction: column;
    background-color: azure;
    border-bottom-right-radius: 1.5vh;
    border-right: 0.4vh solid rgb(68, 68, 68);
}
.signupCard h2{
    font-size: 2.5vh;
    text-align: center;
    margin-bottom: 2vh;
}
.signupCard input[type='submit']{
    margin-top: 4vh!important;
}

label{
    font-size: 2vh;
    margin-top: 2vh;
    margin-left: 10%;
}

form{
    height: 90%;
    display: flex;
    width: inherit;
    flex-direction: column;
}

.formInput {
    width: 80%;
    display: flex;
    margin-left: 10%;
    flex-direction: row;
}
.formInput i{
    width: 4vh;
    padding: 0.5vh 1vh;
    font-size: 3vh;
    background-color: white;
    border: 0.2vh solid rgb(68, 68, 68);
    border-right: none;
    text-align: center;
    border-radius: 1vh 0 0 1vh;
}
.formInput input{
    width: 100%;
    font-size: 1.5vh;
    padding: 1vh 2vh;
    border-radius: 0 1vh 1vh 0;
    border: 0.2vh solid rgb(68, 68, 68);
}
form input[type="submit"]{
    padding: 0.5vh;
    margin-top: 8vh;
    font-size: 1.5vh;
    width: fit-content;
    margin-right: 3.5vw;
    align-self: flex-end;
}

@media screen and (min-device-width: 1024px) {
    .container{
        width: 40%;
    }
}

@media screen and (max-device-width: 768px) {
    .container{
        width: 70%;
    }
}

@media screen and (max-device-width: 425px) {
    .container{
        width: 90%;
    }
    .changeBtn{
        z-index: 2;
        display: grid;
        max-height: 4.65vh;
        grid-template-columns: 3fr 1fr 0.5fr;
    }
}

@media screen and (max-device-width: 320px) {
    .container{
        margin: 23vh 0;
        width: 100%;
    }
    .changeBtn{
        z-index: 2;
        display: grid;
        max-height: 4.65vh;
        grid-template-columns: 4fr 1fr!important;
    }
    .changeBtn .fill{
        display: none;
    }
}