*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6vh;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 1vh;
}

.logo {
    margin-left: 3vh;
}

.logo a {
    text-decoration: none;
    color: #a1a1a1;
    text-transform: uppercase;
    font-size: 2vh;
}

.navbar a {
    display: block;
    padding: 2vh 2vh;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2vh;
}

.navbar a:hover {
    background: #3f3f3f;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    height: 60vh !important;
    background: url(https://cdn.euroinnova.edu.es/img/subidasEditor/img_20210306_122020-1615085581.webp) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 5vh;
    font-size: 7vh;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}

.title2{
    margin-bottom: 3vh;
    font-size: 5vh;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}

#txt {
    margin-bottom: 5vh;
    font-size: 5vh;
    color: #ffffff;
    padding: 0 5vh;
    font: small-caps 150%/150% serif;
}

p {
    margin-bottom: 3vh;
    font-size: 2vh;
    color: #ffffff;
    padding: 0 10vh;

}

.esteSi{
    
    overflow: auto;
}

.btn {
    display: inline-block;
    margin-top: 3vh;
    padding: 1vh 3vh;
    border: 2px solid #2e2d2d;
    color: #fff;
    text-decoration: none;
    background: #494949;
}

.btn:hover {
    background: #2e2d2d;
    
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 1vh;
}


.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 13vh;
    background: #1f1d1d
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 21vh;
    width: 26vh;
    background: #101010;
    text-align: center;
    border-radius: 2vh;
    box-shadow: 0 .5vh 6vh rgb(32, 53, 78);
    margin: 4vh;   
}

.box-container .box i {
    height: 6vh;
    width: 6vh;
    line-height: 6vh;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: hsl(199, 67%, 48%);
    font-size: 3.5vh;
    margin: 1vh 0;

}

.box-container .box h3 {
    font-size: 2vh;
    color: hsl(199, 67%, 48%);

}

.box-container .box p {
    padding: 0 2vh;
    font-size: 2vh;
}

.about {
    padding: 12vh;
    background: #070707f6;
}

.price {
    background: url(https://cdn.euroinnova.edu.es/img/subidasEditor/img_20210306_122020-1615085581.webp) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}


.contact {
    padding-top: 15vh;
    background: #171717;
    padding-bottom: 15vh;
}


@media (max-width: 76vh) {

    .title {
        margin-bottom: 0;
        font-size: 4vh;
    }

    .sau {
        height: 100vh;
    }

    .navbar {
        display: none;
    }
   
    
}
